@media (min-width: 750px) {
    #content {
        max-width: 66vw;
        margin: 0 auto;
    }
}

#hljsStyle {
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.25;
    z-index: 100;
    min-width: 10em;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#hljsStyle:hover {
    opacity: 1;
}


body.editing #hljsStyle {
    display: none;
}

#theme {
    position: absolute;
    right: 0px;
    top: 2.5em;
    opacity: 0.25;
    z-index: 100;
    min-width: 10em;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#theme:hover {
    opacity: 1;
}

body.editing #theme {
    display: none;
}

#newTaste {
    display: none;
}

#content {
    outline: none;
}

body.editing #content {
    white-space: pre;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
    font-family: monospace, monospace;
    font-size: 1em;
}
