body {
    padding: 0px;
    margin: 0 auto;
    max-width: 600px;
}

#hljsStyle {
    position: absolute;
    right: 0px;
}

code.hljs {
    display: inline-block !important;
    padding: 0 !important;
}

pre code.hljs {
    display: block !important;
    padding: 0.5em;
}
