@media (min-width: 750px) {
    #content {
        max-width: 66vw;
        margin: 0 auto;
    }
}

#hljsStyle {
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.25;
    z-index: 100;
}

#hljsStyle:hover {
    opacity: 1;
}

#theme {
    position: absolute;
    right: 0px;
    top: 1.5em;
    opacity: 0.25;
    z-index: 100;
}

#theme:hover {
    opacity: 1;
}

#newTaste {
    display: none;
}

#content {
    outline: none;
}

body.editing #content {
    white-space: pre;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
    font-family: monospace, monospace;
    font-size: 1em;
}
